<div class="jumbotron mt-4">

<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      Pagina web que forma parte de un sistema de entrega en tiempo real.
    </p>
  </div>
</section>
</div>