


<div class="container-fluid">

<div class="jumbotron mt-4">
  <h1 class="display-5">Sistema Automatizado de Envío</h1>
  <h2 class="display-6">Sitio Web con Nodejs y Mongodb!</h2>
  <p class="lead">MODELO MEN</p>
  <hr class="my-4">
  <p>MEN Stack (acrónimo para: MongoDB, ExpressJS, NodeJS). <br>-MongoDB: MongoDB es la base de datos líder de NoSQL, que permite a las empresas ser más ágiles y escalables.
<br>-Express - Express es un marco de aplicación web de node.js mínimo y flexible, que proporciona un conjunto sólido de características para crear aplicaciones web de una sola página o de múltiples páginas, e híbridas.
<br>-Node.js: Node.js es una plataforma basada en el tiempo de ejecución de JavaScript de Chrome para crear fácilmente aplicaciones de red escalables y rápidas.
  </p>
  <a class="btn btn-primary btn-lg" href="https://getbootstrap.com/" role="button">Link a Bootstrap</a>
</div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChSPm7qthyY7znh5vF28ix2tDSC2iYvYo"></script>


<style>
    #map{

        width: 700px;
        height: 500px;
       
        box-sizing: border-box;
    }

    #mapz{

        width: 700px;
        height: 500px;
       
        box-sizing: border-box;
    }
</style>




<div class="container-fluid">
    <div class="row">
        <div id="map" class="well well-sm col-xs-12"></div>
    </div>

</div>


<div class="container-fluid">
    <div class="row">
        <div id="marker-map" class="well well-sm col-xs-12"></div>
    </div>

</div>






<script type="text/javascript">

 google.maps.visualRefresh = true;

 var divMapa = document.getElementById('map');
 navigator.geolocation.getCurrentPosition( fn_ok, fn_mal);
 function fn_mal(){}
 function fn_ok(rta){

     var lat = rta.coords.latitude;
     var lon = rta.coords.longitude;

     var gLatLon = new google.maps.LatLng(lat, lon);
     var objConfig = {
         zoom: 10,
         center: gLatLon
     }
    
     var gMapa = new google.maps.Map (divMapa,objConfig);


      var objMarkerConfig = {
         position: gLatLon ,
         map: gMapa,
         title: "Usted se encuentra aquí"
     }


     var gMarker = new google.maps.Marker(objMarkerConfig);

     var santiago = [

            { lng: -70.7984466552734, lat: 19.396125793457},
            { lng: -70.796775817871, lat: 19.3980789184571},
            { lng: -70.7961196899413, lat: 19.3991775512695},
            { lng: -70.7958679199219, lat: 19.3998107910157},
            { lng: -70.7954559326171, lat: 19.401803970337},
            { lng: -70.7953796386719, lat: 19.4031696319581},
            { lng: -70.795425415039, lat: 19.404535293579},
            { lng: -70.7957534790039, lat: 19.4065494537354},
            { lng: -70.7962188720703, lat: 19.4077777862548},
            { lng: -70.797752380371, lat: 19.4105033874511},
            { lng: -70.7988891601562, lat: 19.4128856658936},
            { lng: -70.799690246582, lat: 19.4140453338623},
            { lng: -70.801155090332, lat: 19.4156379699708},
            { lng: -70.8022308349608, lat: 19.4166126251221},
            { lng: -70.8033752441405, lat: 19.417501449585},
            { lng: -70.804588317871, lat: 19.4182567596436},
            { lng: -70.8076705932616, lat: 19.4197368621826},
            { lng: -70.8117218017578, lat: 19.4227085113525},
            { lng: -70.8129501342773, lat: 19.4234466552735},
            { lng: -70.8136138916016, lat: 19.4237384796143},
            { lng: -70.8149719238281, lat: 19.4241027832032},
            { lng: -70.8198776245116, lat: 19.424566268921},
            { lng: -70.8212356567383, lat: 19.4248409271241},
            { lng: -70.8224792480469, lat: 19.4253673553468},
            { lng: -70.8235168457031, lat: 19.4261226654053},
            { lng: -70.8243865966797, lat: 19.4270477294922},
            { lng: -70.825065612793, lat: 19.4281368255615},
            { lng: -70.8258514404296, lat: 19.4298934936523},
            { lng: -70.8276443481445, lat: 19.4331874847413},
            { lng: -70.8286209106445, lat: 19.4356288909913},
            { lng: -70.8292160034179, lat: 19.4367218017578},
            { lng: -70.8311309814452, lat: 19.4397296905518},
            { lng: -70.8319396972656, lat: 19.4405956268311},
            { lng: -70.8330688476562, lat: 19.4411411285402},
            { lng: -70.8343353271484, lat: 19.4413986206055},
            { lng: -70.8399505615234, lat: 19.4416465759277},
            { lng: -70.8413619995117, lat: 19.4418315887451},
            { lng: -70.8427200317383, lat: 19.442211151123},
            { lng: -70.843376159668, lat: 19.442512512207},
            { lng: -70.8445816040039, lat: 19.443271636963},
            { lng: -70.8479995727538, lat: 19.4458522796631},
            { lng: -70.8492660522461, lat: 19.4465179443359},
            { lng: -70.8499374389648, lat: 19.4467430114746},
            { lng: -70.8520355224609, lat: 19.4471035003663},
            { lng: -70.8570938110352, lat: 19.4472999572755},
            { lng: -70.858528137207, lat: 19.4474258422852},
            { lng: -70.8599166870117, lat: 19.4476947784424},
            { lng: -70.8605957031249, lat: 19.4479141235352},
            { lng: -70.8612518310546, lat: 19.4482154846193},
            { lng: -70.8624725341796, lat: 19.4489707946778},
            { lng: -70.8664703369141, lat: 19.4519977569581},
            { lng: -70.8701324462889, lat: 19.4537849426271},
            { lng: -70.872932434082, lat: 19.4555149078369},
            { lng: -70.8762359619139, lat: 19.4573364257812},
            { lng: -70.8796157836914, lat: 19.45827293396},
            { lng: -70.8810195922852, lat: 19.4584693908692},
            { lng: -70.8853073120117, lat: 19.4588298797607},
            { lng: -70.8873977661132, lat: 19.4592609405519},
            { lng: -70.8927154541015, lat: 19.4616756439209},
            { lng: -70.8938522338867, lat: 19.4623413085938},
            { lng: -70.8952407836914, lat: 19.4636535644531},
            { lng: -70.8959426879882, lat: 19.4647102355957},
            { lng: -70.8962020874023, lat: 19.4653205871583},
            { lng: -70.8971405029297, lat: 19.4691123962402},
            { lng: -70.8975830078124, lat: 19.4702911376953},
            { lng: -70.8989105224609, lat: 19.4730987548829},
            { lng: -70.8993759155273, lat: 19.4752311706544},
            { lng: -70.8995895385742, lat: 19.4789619445802},
            { lng: -70.8996047973632, lat: 19.4865570068359},
            { lng: -70.8994750976562, lat: 19.4895496368409},
            { lng: -70.8991165161132, lat: 19.4917144775391},
            { lng: -70.8986434936523, lat: 19.49298286438},
            { lng: -70.8971328735352, lat: 19.4956893920898},
            { lng: -70.8960342407227, lat: 19.4980583190918},
            { lng: -70.8940811157227, lat: 19.5012588500977},
            { lng: -70.8929977416992, lat: 19.5036411285401},
            { lng: -70.8917846679686, lat: 19.505807876587},
            { lng: -70.8912582397461, lat: 19.5069446563722},
            { lng: -70.8907623291016, lat: 19.5090770721436},
            { lng: -70.8903732299805, lat: 19.5127449035645},
            { lng: -70.8901062011719, lat: 19.5141716003419},
            { lng: -70.8896560668945, lat: 19.5154247283937},
            { lng: -70.8885421752929, lat: 19.5176258087159},
            { lng: -70.8880844116211, lat: 19.5188274383546},
            { lng: -70.8872680664062, lat: 19.5227603912355},
            { lng: -70.8857879638672, lat: 19.5275592803955},
            { lng: -70.8796157836914, lat: 19.5259418487549},
            { lng: -70.8754806518555, lat: 19.5242290496826},
            { lng: -70.8742218017578, lat: 19.5239429473876},
            { lng: -70.8718872070312, lat: 19.5237579345703},
            { lng: -70.8707733154296, lat: 19.5235214233398},
            { lng: -70.8685073852538, lat: 19.5225296020509},
            { lng: -70.8673477172851, lat: 19.5221519470215},
            { lng: -70.8661041259765, lat: 19.5221424102784},
            { lng: -70.8635940551758, lat: 19.5229282379152},
            { lng: -70.8623580932617, lat: 19.5231399536133},
            { lng: -70.8610992431641, lat: 19.5231533050538},
            { lng: -70.8598937988281, lat: 19.5229320526123},
            { lng: -70.8588562011718, lat: 19.5223865509034},
            { lng: -70.8584671020507, lat: 19.5219821929933},
            { lng: -70.8579483032227, lat: 19.5210704803467},
            { lng: -70.8573608398438, lat: 19.5196590423584},
            { lng: -70.8567810058593, lat: 19.5188083648682},
            { lng: -70.8559112548828, lat: 19.518180847168},
            { lng: -70.8538665771484, lat: 19.5172595977783},
            { lng: -70.8529434204101, lat: 19.5166702270508},
            { lng: -70.8506774902343, lat: 19.5139694213867},
            { lng: -70.8495559692383, lat: 19.5131721496582},
            { lng: -70.8489074707031, lat: 19.5129070281983},
            { lng: -70.8477172851562, lat: 19.5127601623535},
            { lng: -70.8466262817383, lat: 19.5130233764648},
            { lng: -70.8446884155273, lat: 19.514549255371},
            { lng: -70.8408966064453, lat: 19.5167312622071},
            { lng: -70.8396606445312, lat: 19.5170021057129},
            { lng: -70.8390655517578, lat: 19.5169544219971},
            { lng: -70.838493347168, lat: 19.5167808532715},
            { lng: -70.8379821777343, lat: 19.5164642333984},
            { lng: -70.8375701904297, lat: 19.5159912109376},
            { lng: -70.8373184204101, lat: 19.5154628753662},
            { lng: -70.8370895385742, lat: 19.5143299102784},
            { lng: -70.836929321289, lat: 19.5125293731689},
            { lng: -70.836669921875, lat: 19.5113468170165},
            { lng: -70.8364105224609, lat: 19.5107898712158},
            { lng: -70.8360290527344, lat: 19.5102806091309},
            { lng: -70.8355178833007, lat: 19.5098838806152},
            { lng: -70.8349380493163, lat: 19.5095996856691},
            { lng: -70.8336334228516, lat: 19.5092697143555},
            { lng: -70.827751159668, lat: 19.5088958740235},
            { lng: -70.8262939453125, lat: 19.5086116790771},
            { lng: -70.82559967041, lat: 19.5083694458008},
            { lng: -70.8249130249023, lat: 19.508026123047},
            { lng: -70.8237075805664, lat: 19.5071506500244},
            { lng: -70.8227233886718, lat: 19.5061340332032},
            { lng: -70.8216705322265, lat: 19.5047779083253},
            { lng: -70.8208007812499, lat: 19.5040359497071},
            { lng: -70.8167495727539, lat: 19.5018939971924},
            { lng: -70.8139495849609, lat: 19.5030422210694},
            { lng: -70.8106384277344, lat: 19.5040645599365},
            { lng: -70.8077850341797, lat: 19.5053100585938},
            { lng: -70.8065185546874, lat: 19.5055961608887},
            { lng: -70.8058395385742, lat: 19.5056285858155},
            { lng: -70.8051605224609, lat: 19.5055847167968},
            { lng: -70.8038940429688, lat: 19.5052757263185},
            { lng: -70.8010787963867, lat: 19.5040073394776},
            { lng: -70.7973632812499, lat: 19.5029449462891},
            { lng: -70.7963409423828, lat: 19.5025043487549},
            { lng: -70.7951507568359, lat: 19.5016822814941},
            { lng: -70.7941894531249, lat: 19.5013122558594},
            { lng: -70.7936477661132, lat: 19.5012531280518},
            { lng: -70.7925109863281, lat: 19.5013771057129},
            { lng: -70.7899932861328, lat: 19.5024795532228},
            { lng: -70.7888412475586, lat: 19.5027980804444},
            { lng: -70.7875747680664, lat: 19.5027923583985},
            { lng: -70.7869491577148, lat: 19.5026359558105},
            { lng: -70.7863998413085, lat: 19.5023822784423},
            { lng: -70.7855148315429, lat: 19.5016517639161},
            { lng: -70.7849655151367, lat: 19.5007019042969},
            { lng: -70.7848663330078, lat: 19.5001697540284},
            { lng: -70.785041809082, lat: 19.499174118042},
            { lng: -70.7859573364258, lat: 19.497350692749},
            { lng: -70.7862930297851, lat: 19.4962348937989},
            { lng: -70.7864151000977, lat: 19.4950637817384},
            { lng: -70.7863769531249, lat: 19.4944801330566},
            { lng: -70.7860107421874, lat: 19.493356704712},
            { lng: -70.7856140136718, lat: 19.4928531646728},
            { lng: -70.7850952148438, lat: 19.4924716949462},
            { lng: -70.7845153808594, lat: 19.4922313690186},
            { lng: -70.7832794189453, lat: 19.492057800293},
            { lng: -70.7820205688477, lat: 19.4921703338624},
            { lng: -70.7808074951172, lat: 19.4925136566163},
            { lng: -70.7788391113281, lat: 19.4935626983644},
            { lng: -70.7778472900391, lat: 19.4939670562745},
            { lng: -70.7766876220703, lat: 19.4940395355226},
            { lng: -70.7761154174805, lat: 19.4938888549806},
            { lng: -70.7755813598633, lat: 19.4935836791992},
            { lng: -70.7751464843749, lat: 19.4931144714355},
            { lng: -70.7748718261719, lat: 19.4925708770753},
            { lng: -70.7746200561523, lat: 19.4913654327393},
            { lng: -70.7746582031249, lat: 19.4858360290527},
            { lng: -70.7744598388671, lat: 19.4844722747803},
            { lng: -70.7742385864258, lat: 19.4838180541993},
            { lng: -70.7739486694336, lat: 19.4832801818848},
            { lng: -70.7731704711914, lat: 19.4823799133302},
            { lng: -70.7721328735352, lat: 19.4817771911622},
            { lng: -70.7715148925781, lat: 19.4816455841064},
            { lng: -70.7708969116211, lat: 19.4816646575929},
            { lng: -70.7698211669922, lat: 19.4820041656494},
            { lng: -70.767951965332, lat: 19.4830780029296},
            { lng: -70.7670288085937, lat: 19.4837303161622},
            { lng: -70.7663269042969, lat: 19.4845924377442},
            { lng: -70.7655944824218, lat: 19.4865741729736},
            { lng: -70.7651214599609, lat: 19.48752784729},
            { lng: -70.7647476196288, lat: 19.4879512786866},
            { lng: -70.7642440795898, lat: 19.4883136749268},
            { lng: -70.7636566162109, lat: 19.4885730743409},
            { lng: -70.762336730957, lat: 19.4888706207275},
            { lng: -70.7563400268554, lat: 19.4891147613526},
            { lng: -70.7540969848633, lat: 19.4894962310792},
            { lng: -70.7528762817383, lat: 19.4899692535402},
            { lng: -70.7495498657227, lat: 19.491647720337},
            { lng: -70.7485351562499, lat: 19.4923439025879},
            { lng: -70.7477798461913, lat: 19.4932727813721},
            { lng: -70.7464599609375, lat: 19.4956378936768},
            { lng: -70.7461547851561, lat: 19.4966678619384},
            { lng: -70.7461624145508, lat: 19.4972343444825},
            { lng: -70.7462997436523, lat: 19.4977931976319},
            { lng: -70.7468948364257, lat: 19.4987468719483},
            { lng: -70.7477569580078, lat: 19.4995059967042},
            { lng: -70.7488174438476, lat: 19.5000896453858},
            { lng: -70.751220703125, lat: 19.5011215209962},
            { lng: -70.7524261474609, lat: 19.5018825531007},
            { lng: -70.7541122436523, lat: 19.503246307373},
            { lng: -70.7555694580078, lat: 19.5048255920411},
            { lng: -70.7562866210938, lat: 19.5060367584229},
            { lng: -70.7565155029296, lat: 19.506675720215},
            { lng: -70.756721496582, lat: 19.5079631805421},
            { lng: -70.7566680908203, lat: 19.5092124938965},
            { lng: -70.7565460205078, lat: 19.5098056793214},
            { lng: -70.7560882568359, lat: 19.5108737945557},
            { lng: -70.7543563842772, lat: 19.5128154754639},
            { lng: -70.7531585693359, lat: 19.5148124694825},
            { lng: -70.7502441406249, lat: 19.5192127227783},
            { lng: -70.7471084594725, lat: 19.5219898223878},
            { lng: -70.7460403442382, lat: 19.5224800109863},
            { lng: -70.7422790527344, lat: 19.5234107971191},
            { lng: -70.7393341064453, lat: 19.5246200561525},
            { lng: -70.7379837036133, lat: 19.5250034332276},
            { lng: -70.736457824707, lat: 19.5252132415771},
            { lng: -70.7326278686523, lat: 19.5254726409913},
            { lng: -70.7311401367188, lat: 19.5257434844971},
            { lng: -70.7304229736327, lat: 19.5259914398193},
            { lng: -70.7292938232422, lat: 19.5266399383545},
            { lng: -70.7283554077148, lat: 19.5275077819825},
            { lng: -70.7279663085938, lat: 19.5280113220215},
            { lng: -70.7273635864257, lat: 19.5292396545411},
            { lng: -70.7270584106445, lat: 19.5306491851807},
            { lng: -70.7269287109375, lat: 19.5328464508058},
            { lng: -70.7270584106445, lat: 19.5419826507568},
            { lng: -70.7269592285156, lat: 19.5518836975098},
            { lng: -70.7271194458008, lat: 19.5540885925294},
            { lng: -70.7274475097656, lat: 19.5555057525635},
            { lng: -70.7277297973632, lat: 19.5561809539795},
            { lng: -70.7284393310547, lat: 19.5572452545167},
            { lng: -70.7298583984375, lat: 19.5585155487062},
            { lng: -70.7310028076172, lat: 19.5591354370118},
            { lng: -70.7339477539061, lat: 19.5604152679444},
            { lng: -70.7371139526367, lat: 19.5621871948243},
            { lng: -70.7380371093749, lat: 19.5629558563232},
            { lng: -70.738410949707, lat: 19.5635108947754},
            { lng: -70.7386703491211, lat: 19.5641231536865},
            { lng: -70.7389602661133, lat: 19.5654602050782},
            { lng: -70.7390747070312, lat: 19.5676231384278},
            { lng: -70.7389907836913, lat: 19.5706424713136},
            { lng: -70.7374420166015, lat: 19.571876525879},
            { lng: -70.7363586425781, lat: 19.5726108551025},
            { lng: -70.7351608276367, lat: 19.5732116699219},
            { lng: -70.7332763671874, lat: 19.5739669799805},
            { lng: -70.7304153442382, lat: 19.5754051208497},
            { lng: -70.729148864746, lat: 19.5758361816406},
            { lng: -70.7257232666015, lat: 19.5764389038087},
            { lng: -70.724380493164, lat: 19.5767822265625},
            { lng: -70.7231979370117, lat: 19.5772914886475},
            { lng: -70.7209167480469, lat: 19.5784568786622},
            { lng: -70.7190246582031, lat: 19.5792064666748},
            { lng: -70.7178344726561, lat: 19.5798034667969},
            { lng: -70.7167434692383, lat: 19.5805301666261},
            { lng: -70.7130737304688, lat: 19.5833282470704},
            { lng: -70.7119598388672, lat: 19.5839805603028},
            { lng: -70.7094650268555, lat: 19.5850467681885},
            { lng: -70.7078094482421, lat: 19.5860939025879},
            { lng: -70.7067794799805, lat: 19.5869255065917},
            { lng: -70.7053451538086, lat: 19.5882987976074},
            { lng: -70.7044906616211, lat: 19.5892906188965},
            { lng: -70.7037811279296, lat: 19.5903568267822},
            { lng: -70.7026824951172, lat: 19.5927467346192},
            { lng: -70.7014465332031, lat: 19.5949096679688},
            { lng: -70.7008895874023, lat: 19.5960388183594},
            { lng: -70.7004928588867, lat: 19.5973148345948},
            { lng: -70.6998138427734, lat: 19.6005191802979},
            { lng: -70.6987533569335, lat: 19.6031723022462},
            { lng: -70.6985626220703, lat: 19.6042385101319},
            { lng: -70.6986236572266, lat: 19.6047840118409},
            { lng: -70.6989898681641, lat: 19.6058254241944},
            { lng: -70.7008819580078, lat: 19.6096878051759},
            { lng: -70.702033996582, lat: 19.6112232208253},
            { lng: -70.7046508789062, lat: 19.614097595215},
            { lng: -70.7053375244139, lat: 19.6151485443116},
            { lng: -70.7055892944335, lat: 19.6157245635986},
            { lng: -70.7057495117188, lat: 19.6163654327393},
            { lng: -70.7057647705078, lat: 19.6176624298096},
            { lng: -70.7054061889648, lat: 19.6188640594482},
            { lng: -70.7038879394531, lat: 19.621452331543},
            { lng: -70.7028427124023, lat: 19.6237564086915},
            { lng: -70.7020568847656, lat: 19.6252708435058},
            { lng: -70.7016830444335, lat: 19.6262893676759},
            { lng: -70.7016143798828, lat: 19.626823425293},
            { lng: -70.70166015625, lat: 19.6273574829102},
            { lng: -70.7019882202148, lat: 19.6283798217775},
            { lng: -70.7026443481445, lat: 19.6299495697021},
            { lng: -70.7029571533202, lat: 19.631196975708},
            { lng: -70.703140258789, lat: 19.6325302124024},
            { lng: -70.7033157348632, lat: 19.6353015899659},
            { lng: -70.7022476196289, lat: 19.6357116699219},
            { lng: -70.7012939453125, lat: 19.6362781524658},
            { lng: -70.7009124755859, lat: 19.6366596221923},
            { lng: -70.6999435424805, lat: 19.6380252838135},
            { lng: -70.6991882324219, lat: 19.6389083862304},
            { lng: -70.6982650756835, lat: 19.6397113800048},
            { lng: -70.6971588134766, lat: 19.6403541564941},
            { lng: -70.6958236694336, lat: 19.640745162964},
            { lng: -70.6944274902344, lat: 19.640869140625},
            { lng: -70.6930084228515, lat: 19.6407623291017},
            { lng: -70.6916275024414, lat: 19.6403961181642},
            { lng: -70.6909561157227, lat: 19.6400871276857},
            { lng: -70.6897354125977, lat: 19.6392993927003},
            { lng: -70.6880493164062, lat: 19.637882232666},
            { lng: -70.6837844848632, lat: 19.6337223052979},
            { lng: -70.681297302246, lat: 19.6310234069824},
            { lng: -70.6800918579102, lat: 19.6292781829835},
            { lng: -70.6790084838867, lat: 19.6268711090088},
            { lng: -70.6774749755859, lat: 19.6241550445557},
            { lng: -70.6760940551758, lat: 19.6212978363038},
            { lng: -70.6757354736328, lat: 19.6207847595215},
            { lng: -70.6748657226562, lat: 19.6198616027833},
            { lng: -70.673828125, lat: 19.6191082000733},
            { lng: -70.6732406616211, lat: 19.6188125610352},
            { lng: -70.6719207763672, lat: 19.618413925171},
            { lng: -70.6670379638672, lat: 19.6178989410401},
            { lng: -70.6656646728514, lat: 19.6176204681397},
            { lng: -70.6650085449219, lat: 19.6174011230469},
            { lng: -70.6643524169922, lat: 19.6171054840088},
            { lng: -70.6631393432617, lat: 19.6163635253907},
            { lng: -70.6597061157227, lat: 19.6138191223144},
            { lng: -70.6584320068359, lat: 19.6131553649903},
            { lng: -70.6577224731445, lat: 19.6129150390626},
            { lng: -70.6554794311523, lat: 19.6125316619872},
            { lng: -70.6500701904297, lat: 19.6122627258302},
            { lng: -70.6478118896484, lat: 19.611951828003},
            { lng: -70.6464767456054, lat: 19.611536026001},
            { lng: -70.6441345214844, lat: 19.6104946136475},
            { lng: -70.6428680419921, lat: 19.6100921630861},
            { lng: -70.6415100097656, lat: 19.6098499298096},
            { lng: -70.6381301879883, lat: 19.6094627380371},
            { lng: -70.6368789672852, lat: 19.6091747283936},
            { lng: -70.6357650756836, lat: 19.6086330413819},
            { lng: -70.6353149414062, lat: 19.6082401275634},
            { lng: -70.6334457397461, lat: 19.6058254241944},
            { lng: -70.6307144165039, lat: 19.602617263794},
            { lng: -70.6299362182617, lat: 19.601432800293},
            { lng: -70.6296310424805, lat: 19.6007938385011},
            { lng: -70.6292266845703, lat: 19.5994091033936},
            { lng: -70.6290435791014, lat: 19.5979785919189},
            { lng: -70.6289672851562, lat: 19.5906658172607},
            { lng: -70.6288375854492, lat: 19.589231491089},
            { lng: -70.6285324096679, lat: 19.5878372192383},
            { lng: -70.6282806396483, lat: 19.5871696472168},
            { lng: -70.627586364746, lat: 19.5859622955322},
            { lng: -70.624870300293, lat: 19.5827331542969},
            { lng: -70.6240615844726, lat: 19.5815887451172},
            { lng: -70.6234664916992, lat: 19.5802974700927},
            { lng: -70.6230316162109, lat: 19.5781803131104},
            { lng: -70.6228713989258, lat: 19.5759925842286},
            { lng: -70.6228637695312, lat: 19.5730667114259},
            { lng: -70.6230087280273, lat: 19.5709457397462},
            { lng: -70.6232452392578, lat: 19.5696220397949},
            { lng: -70.6237182617188, lat: 19.5684394836426},
            { lng: -70.6240692138671, lat: 19.5679397583009},
            { lng: -70.6244888305664, lat: 19.5675525665284},
            { lng: -70.626853942871, lat: 19.5659694671632},
            { lng: -70.6277160644531, lat: 19.5651264190675},
            { lng: -70.6284103393555, lat: 19.5641059875488},
            { lng: -70.6286697387695, lat: 19.5634918212891},
            { lng: -70.6289443969726, lat: 19.5622005462646},
            { lng: -70.6289596557617, lat: 19.5608787536622},
            { lng: -70.6287002563477, lat: 19.5595703125},
            { lng: -70.6281127929688, lat: 19.5583934783936},
            { lng: -70.6277236938477, lat: 19.5578918457031},
            { lng: -70.6268005371094, lat: 19.5570297241212},
            { lng: -70.6257553100586, lat: 19.5563488006592},
            { lng: -70.6239852905273, lat: 19.5555744171144},
            { lng: -70.6228790283203, lat: 19.5549697875978},
            { lng: -70.6219100952148, lat: 19.5541763305665},
            { lng: -70.6211013793945, lat: 19.5532093048096},
            { lng: -70.6205215454101, lat: 19.5519962310791},
            { lng: -70.6202239990234, lat: 19.5506095886231},
            { lng: -70.6199417114258, lat: 19.5449466705322},
            { lng: -70.6196746826171, lat: 19.5436534881593},
            { lng: -70.6194381713867, lat: 19.5430603027344},
            { lng: -70.6190948486328, lat: 19.5425243377687},
            { lng: -70.6186904907227, lat: 19.5421028137206},
            { lng: -70.616714477539, lat: 19.5407314300538},
            { lng: -70.6151275634766, lat: 19.5394096374513},
            { lng: -70.6136779785156, lat: 19.5378704071045},
            { lng: -70.6127471923828, lat: 19.5365543365479},
            { lng: -70.6099624633788, lat: 19.5319633483888},
            { lng: -70.6095657348632, lat: 19.530912399292},
            { lng: -70.6094818115234, lat: 19.5303611755372},
            { lng: -70.609619140625, lat: 19.5292778015138},
            { lng: -70.6105499267578, lat: 19.526611328125},
            { lng: -70.6112747192382, lat: 19.5234546661378},
            { lng: -70.6117401123047, lat: 19.5221881866456},
            { lng: -70.6124877929688, lat: 19.520938873291},
            { lng: -70.6134262084961, lat: 19.5197887420655},
            { lng: -70.6150131225585, lat: 19.5181789398193},
            { lng: -70.616714477539, lat: 19.516664505005},
            { lng: -70.6184921264648, lat: 19.5152778625488},
            { lng: -70.6197280883789, lat: 19.5144805908204},
            { lng: -70.6221694946288, lat: 19.5133476257324},
            { lng: -70.6232833862305, lat: 19.5127067565919},
            { lng: -70.6246643066406, lat: 19.511423110962},
            { lng: -70.6253433227539, lat: 19.5103607177734},
            { lng: -70.6257781982421, lat: 19.5090141296387},
            { lng: -70.6259613037109, lat: 19.5076122283937},
            { lng: -70.6261901855469, lat: 19.5026950836182},
            { lng: -70.6264724731444, lat: 19.5014171600342},
            { lng: -70.6267166137695, lat: 19.5008316040039},
            { lng: -70.6274719238281, lat: 19.499891281128},
            { lng: -70.6305618286132, lat: 19.4977817535402},
            { lng: -70.6326522827148, lat: 19.4959106445312},
            { lng: -70.6339569091797, lat: 19.4942512512207},
            { lng: -70.6345520019531, lat: 19.4929389953613},
            { lng: -70.6348724365234, lat: 19.4915027618409},
            { lng: -70.6350479125976, lat: 19.4892787933351},
            { lng: -70.6348876953125, lat: 19.4732685089111},
            { lng: -70.6350631713867, lat: 19.4687461853028},
            { lng: -70.6352844238281, lat: 19.4672870635986},
            { lng: -70.6356887817382, lat: 19.4658966064454},
            { lng: -70.6371383666992, lat: 19.4631538391113},
            { lng: -70.6376495361328, lat: 19.4618988037109},
            { lng: -70.638069152832, lat: 19.4597835540771},
            { lng: -70.6381225585938, lat: 19.4577388763428},
            { lng: -70.6378631591797, lat: 19.4564895629883},
            { lng: -70.637565612793, lat: 19.4559154510499},
            { lng: -70.6371002197266, lat: 19.4554080963136},
            { lng: -70.6365432739257, lat: 19.4550876617431},
            { lng: -70.6359481811523, lat: 19.4549293518068},
            { lng: -70.6353530883789, lat: 19.4549007415772},
            { lng: -70.6342315673828, lat: 19.4551429748535},
            { lng: -70.6322174072266, lat: 19.4561290740966},
            { lng: -70.630989074707, lat: 19.456579208374},
            { lng: -70.6295318603516, lat: 19.4568729400635},
            { lng: -70.6279983520507, lat: 19.457036972046},
            { lng: -70.6248245239257, lat: 19.4571571350098},
            { lng: -70.6208190917968, lat: 19.4571514129639},
            { lng: -70.6120147705078, lat: 19.4570350646972},
            { lng: -70.6068038940429, lat: 19.4568271636963},
            { lng: -70.6095581054687, lat: 19.4527950286866},
            { lng: -70.6104965209961, lat: 19.4511394500734},
            { lng: -70.6109161376953, lat: 19.449878692627},
            { lng: -70.6118698120117, lat: 19.4460391998292},
            { lng: -70.6131973266601, lat: 19.4432487487794},
            { lng: -70.6136322021484, lat: 19.4420509338379},
            { lng: -70.6143264770507, lat: 19.4388198852538},
            { lng: -70.6147155761718, lat: 19.4375534057617},
            { lng: -70.6155624389648, lat: 19.4359035491944},
            { lng: -70.6174468994141, lat: 19.4328632354737},
            { lng: -70.6178512573242, lat: 19.4324131011963},
            { lng: -70.6188354492187, lat: 19.4316997528077},
            { lng: -70.6221160888672, lat: 19.4299697875977},
            { lng: -70.6233291625977, lat: 19.4294967651367},
            { lng: -70.6255569458008, lat: 19.4291286468506},
            { lng: -70.6315002441406, lat: 19.4290485382081},
            { lng: -70.6328201293945, lat: 19.4288063049316},
            { lng: -70.6334381103516, lat: 19.4285507202148},
            { lng: -70.6339950561523, lat: 19.428150177002},
            { lng: -70.6343994140625, lat: 19.4276523590088},
            { lng: -70.6348419189453, lat: 19.4265117645265},
            { lng: -70.6349258422851, lat: 19.4252872467042},
            { lng: -70.6347427368163, lat: 19.4240322113038},
            { lng: -70.6345520019531, lat: 19.4234085083008},
            { lng: -70.6328811645508, lat: 19.4201889038086},
            { lng: -70.6318740844726, lat: 19.4172897338867},
            { lng: -70.6313323974608, lat: 19.4162616729737},
            { lng: -70.630500793457, lat: 19.4154815673829},
            { lng: -70.6274108886718, lat: 19.4142017364503},
            { lng: -70.6265411376953, lat: 19.4134883880616},
            { lng: -70.625877380371, lat: 19.4125442504883},
            { lng: -70.6240463256836, lat: 19.409460067749},
            { lng: -70.622688293457, lat: 19.4055137634278},
            { lng: -70.62198638916, lat: 19.4045715332032},
            { lng: -70.6214141845702, lat: 19.4041728973389},
            { lng: -70.6200714111328, lat: 19.4037094116212},
            { lng: -70.6186065673828, lat: 19.4035110473634},
            { lng: -70.6148452758789, lat: 19.4032440185547},
            { lng: -70.6170501708984, lat: 19.3991069793701},
            { lng: -70.6167526245117, lat: 19.3957862854005},
            { lng: -70.6167526245117, lat: 19.389446258545},
            { lng: -70.6212768554688, lat: 19.388843536377},
            { lng: -70.6303329467773, lat: 19.388542175293},
            { lng: -70.6336517333984, lat: 19.3870315551758},
            { lng: -70.640296936035, lat: 19.3849182128907},
            { lng: -70.6436157226562, lat: 19.3815994262695},
            { lng: -70.6436157226562, lat: 19.3755626678467},
            { lng: -70.6424102783203, lat: 19.3671092987061},
            { lng: -70.6369705200195, lat: 19.3580532073976},
            { lng: -70.6320571899414, lat: 19.3540077209474},
            { lng: -70.6320953369139, lat: 19.3528900146485},
            { lng: -70.6322631835937, lat: 19.3515357971193},
            { lng: -70.6325988769531, lat: 19.3502311706542},
            { lng: -70.6331253051757, lat: 19.3490867614746},
            { lng: -70.6343231201172, lat: 19.3469123840333},
            { lng: -70.635383605957, lat: 19.3445281982422},
            { lng: -70.638313293457, lat: 19.3399448394775},
            { lng: -70.6391677856445, lat: 19.3391227722169},
            { lng: -70.6412887573242, lat: 19.3378200531007},
            { lng: -70.6452178955078, lat: 19.3348102569581},
            { lng: -70.6470413208007, lat: 19.3336772918701},
            { lng: -70.649070739746, lat: 19.3328533172608},
            { lng: -70.6527404785156, lat: 19.3394584655762},
            { lng: -70.6531143188477, lat: 19.3431930541993},
            { lng: -70.6572189331055, lat: 19.3499164581299},
            { lng: -70.663200378418, lat: 19.3618679046632},
            { lng: -70.6691741943359, lat: 19.3614940643312},
            { lng: -70.677391052246, lat: 19.3614940643312},
            { lng: -70.6818771362304, lat: 19.3577594757081},
            { lng: -70.6841125488281, lat: 19.3551445007325},
            { lng: -70.6900939941406, lat: 19.3517837524415},
            { lng: -70.6975631713867, lat: 19.3506622314454},
            { lng: -70.7061538696289, lat: 19.353651046753},
            { lng: -70.706901550293, lat: 19.3585052490236},
            { lng: -70.7080154418945, lat: 19.3629875183107},
            { lng: -70.7154922485352, lat: 19.3670978546144},
            { lng: -70.7229614257812, lat: 19.3670978546144},
            { lng: -70.7255706787109, lat: 19.3749408721925},
            { lng: -70.7311782836913, lat: 19.3745670318605},
            { lng: -70.7360305786132, lat: 19.3697109222413},
            { lng: -70.7405166625976, lat: 19.3697109222413},
            { lng: -70.7487335205077, lat: 19.3734455108642},
            { lng: -70.7502593994139, lat: 19.374402999878},
            { lng: -70.7499008178711, lat: 19.3747234344482},
            { lng: -70.7493133544922, lat: 19.3756618499756},
            { lng: -70.7491683959961, lat: 19.3762073516846},
            { lng: -70.7491683959961, lat: 19.376766204834},
            { lng: -70.7494583129882, lat: 19.3778038024903},
            { lng: -70.7509689331055, lat: 19.3809700012207},
            { lng: -70.7516555786132, lat: 19.3820514678955},
            { lng: -70.7524871826172, lat: 19.3829898834228},
            { lng: -70.7534255981445, lat: 19.3838043212891},
            { lng: -70.7558670043945, lat: 19.3854827880859},
            { lng: -70.7576522827148, lat: 19.3877544403077},
            { lng: -70.7585372924804, lat: 19.3885974884034},
            { lng: -70.7595825195312, lat: 19.3893127441407},
            { lng: -70.7601623535156, lat: 19.3895988464356},
            { lng: -70.7614746093749, lat: 19.3899974822998},
            { lng: -70.7655410766602, lat: 19.3905067443848},
            { lng: -70.7673492431641, lat: 19.3909492492676},
            { lng: -70.7682952880859, lat: 19.3915138244629},
            { lng: -70.7694702148438, lat: 19.3925323486328},
            { lng: -70.7699356079102, lat: 19.3928279876709},
            { lng: -70.7735443115234, lat: 19.3945236206056},
            { lng: -70.7746429443359, lat: 19.394739151001},
            { lng: -70.7752075195312, lat: 19.3947067260743},
            { lng: -70.7786178588867, lat: 19.3936557769777},
            { lng: -70.7800903320312, lat: 19.3934192657472},
            { lng: -70.7816390991211, lat: 19.3932857513428},
            { lng: -70.7888717651367, lat: 19.3931179046631},
            { lng: -70.7935943603516, lat: 19.3931884765626},
            { lng: -70.7957382202148, lat: 19.3934707641602},
            { lng: -70.7969665527343, lat: 19.393934249878},
            { lng: -70.7974700927734, lat: 19.3943042755127},
            { lng: -70.7978286743163, lat: 19.3947257995605},
            { lng: -70.7984466552734, lat: 19.396125793457} 
    
    ];

    var SantiagoPolygon = new google.maps.Polygon({
    paths: santiago,
    strokeColor: '#FF0000',
    strokeOpacity: 0.8,
    strokeWeight: 3,
    fillColor: '#FF0000',
    fillOpacity: 0.35
        });

    SantiagoPolygon.setMap(gMapa);

     

    

 }

</script>


{{!-- <script>
    function findMe(){

      var output = document.getElementById('map');


        if(navigator.geolocation){
            console.log("Tu navegador soporta geolocalizacion");
        }

      

        function localizar(posicion){
            var latitude = posicion.coords.latitude;
            var longitude = posicion.coords.longitude;

            //output.innerHTML = "<p>latitud: "+latitude+"<br>Longitud: "+longitude+"</p>";

            //console.log("latitud: "+latitude+" Longitud: "+longitude+")     
            
            var img ="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318&markers=color:red%7Clabel:C%7C40.718217,-73.998284&key=AIzaSyChSPm7qthyY7znh5vF28ix2tDSC2iYvYo"

           var imgURL="https://maps.googleapis.com/maps/api/staticmap?center="+latitude+","+longitude+"&size=900x300&markers=color:red%7C"+latitude+","+longitude+"&key=AIzaSyChSPm7qthyY7znh5vF28ix2tDSC2iYvYo";


            output.innerHTML ="<img src='"+imgURL+"'>";
                              

        }

        function error(){
            console.log("No se pudo obtener la ubicacion");
        }



        navigator.geolocation.getCurrentPosition(localizar,error);
    


    }
</script> --}}

<script type="text/javascript">


     google.maps.visualRefresh = true;

    var map = new google.maps.Map(document.getElementById('marker-map'), {
    center: {
        lat: 19.4166700,
        lng: -70.7000000
    },
    zoom: 13,
    mapTypeId: 'roadmap'
    });

    var santiago = [

            { lng: -70.7984466552734, lat: 19.396125793457},
            { lng: -70.796775817871, lat: 19.3980789184571},
            { lng: -70.7961196899413, lat: 19.3991775512695},
            { lng: -70.7958679199219, lat: 19.3998107910157},
            { lng: -70.7954559326171, lat: 19.401803970337},
            { lng: -70.7953796386719, lat: 19.4031696319581},
            { lng: -70.795425415039, lat: 19.404535293579},
            { lng: -70.7957534790039, lat: 19.4065494537354},
            { lng: -70.7962188720703, lat: 19.4077777862548},
            { lng: -70.797752380371, lat: 19.4105033874511},
            { lng: -70.7988891601562, lat: 19.4128856658936},
            { lng: -70.799690246582, lat: 19.4140453338623},
            { lng: -70.801155090332, lat: 19.4156379699708},
            { lng: -70.8022308349608, lat: 19.4166126251221},
            { lng: -70.8033752441405, lat: 19.417501449585},
            { lng: -70.804588317871, lat: 19.4182567596436},
            { lng: -70.8076705932616, lat: 19.4197368621826},
            { lng: -70.8117218017578, lat: 19.4227085113525},
            { lng: -70.8129501342773, lat: 19.4234466552735},
            { lng: -70.8136138916016, lat: 19.4237384796143},
            { lng: -70.8149719238281, lat: 19.4241027832032},
            { lng: -70.8198776245116, lat: 19.424566268921},
            { lng: -70.8212356567383, lat: 19.4248409271241},
            { lng: -70.8224792480469, lat: 19.4253673553468},
            { lng: -70.8235168457031, lat: 19.4261226654053},
            { lng: -70.8243865966797, lat: 19.4270477294922},
            { lng: -70.825065612793, lat: 19.4281368255615},
            { lng: -70.8258514404296, lat: 19.4298934936523},
            { lng: -70.8276443481445, lat: 19.4331874847413},
            { lng: -70.8286209106445, lat: 19.4356288909913},
            { lng: -70.8292160034179, lat: 19.4367218017578},
            { lng: -70.8311309814452, lat: 19.4397296905518},
            { lng: -70.8319396972656, lat: 19.4405956268311},
            { lng: -70.8330688476562, lat: 19.4411411285402},
            { lng: -70.8343353271484, lat: 19.4413986206055},
            { lng: -70.8399505615234, lat: 19.4416465759277},
            { lng: -70.8413619995117, lat: 19.4418315887451},
            { lng: -70.8427200317383, lat: 19.442211151123},
            { lng: -70.843376159668, lat: 19.442512512207},
            { lng: -70.8445816040039, lat: 19.443271636963},
            { lng: -70.8479995727538, lat: 19.4458522796631},
            { lng: -70.8492660522461, lat: 19.4465179443359},
            { lng: -70.8499374389648, lat: 19.4467430114746},
            { lng: -70.8520355224609, lat: 19.4471035003663},
            { lng: -70.8570938110352, lat: 19.4472999572755},
            { lng: -70.858528137207, lat: 19.4474258422852},
            { lng: -70.8599166870117, lat: 19.4476947784424},
            { lng: -70.8605957031249, lat: 19.4479141235352},
            { lng: -70.8612518310546, lat: 19.4482154846193},
            { lng: -70.8624725341796, lat: 19.4489707946778},
            { lng: -70.8664703369141, lat: 19.4519977569581},
            { lng: -70.8701324462889, lat: 19.4537849426271},
            { lng: -70.872932434082, lat: 19.4555149078369},
            { lng: -70.8762359619139, lat: 19.4573364257812},
            { lng: -70.8796157836914, lat: 19.45827293396},
            { lng: -70.8810195922852, lat: 19.4584693908692},
            { lng: -70.8853073120117, lat: 19.4588298797607},
            { lng: -70.8873977661132, lat: 19.4592609405519},
            { lng: -70.8927154541015, lat: 19.4616756439209},
            { lng: -70.8938522338867, lat: 19.4623413085938},
            { lng: -70.8952407836914, lat: 19.4636535644531},
            { lng: -70.8959426879882, lat: 19.4647102355957},
            { lng: -70.8962020874023, lat: 19.4653205871583},
            { lng: -70.8971405029297, lat: 19.4691123962402},
            { lng: -70.8975830078124, lat: 19.4702911376953},
            { lng: -70.8989105224609, lat: 19.4730987548829},
            { lng: -70.8993759155273, lat: 19.4752311706544},
            { lng: -70.8995895385742, lat: 19.4789619445802},
            { lng: -70.8996047973632, lat: 19.4865570068359},
            { lng: -70.8994750976562, lat: 19.4895496368409},
            { lng: -70.8991165161132, lat: 19.4917144775391},
            { lng: -70.8986434936523, lat: 19.49298286438},
            { lng: -70.8971328735352, lat: 19.4956893920898},
            { lng: -70.8960342407227, lat: 19.4980583190918},
            { lng: -70.8940811157227, lat: 19.5012588500977},
            { lng: -70.8929977416992, lat: 19.5036411285401},
            { lng: -70.8917846679686, lat: 19.505807876587},
            { lng: -70.8912582397461, lat: 19.5069446563722},
            { lng: -70.8907623291016, lat: 19.5090770721436},
            { lng: -70.8903732299805, lat: 19.5127449035645},
            { lng: -70.8901062011719, lat: 19.5141716003419},
            { lng: -70.8896560668945, lat: 19.5154247283937},
            { lng: -70.8885421752929, lat: 19.5176258087159},
            { lng: -70.8880844116211, lat: 19.5188274383546},
            { lng: -70.8872680664062, lat: 19.5227603912355},
            { lng: -70.8857879638672, lat: 19.5275592803955},
            { lng: -70.8796157836914, lat: 19.5259418487549},
            { lng: -70.8754806518555, lat: 19.5242290496826},
            { lng: -70.8742218017578, lat: 19.5239429473876},
            { lng: -70.8718872070312, lat: 19.5237579345703},
            { lng: -70.8707733154296, lat: 19.5235214233398},
            { lng: -70.8685073852538, lat: 19.5225296020509},
            { lng: -70.8673477172851, lat: 19.5221519470215},
            { lng: -70.8661041259765, lat: 19.5221424102784},
            { lng: -70.8635940551758, lat: 19.5229282379152},
            { lng: -70.8623580932617, lat: 19.5231399536133},
            { lng: -70.8610992431641, lat: 19.5231533050538},
            { lng: -70.8598937988281, lat: 19.5229320526123},
            { lng: -70.8588562011718, lat: 19.5223865509034},
            { lng: -70.8584671020507, lat: 19.5219821929933},
            { lng: -70.8579483032227, lat: 19.5210704803467},
            { lng: -70.8573608398438, lat: 19.5196590423584},
            { lng: -70.8567810058593, lat: 19.5188083648682},
            { lng: -70.8559112548828, lat: 19.518180847168},
            { lng: -70.8538665771484, lat: 19.5172595977783},
            { lng: -70.8529434204101, lat: 19.5166702270508},
            { lng: -70.8506774902343, lat: 19.5139694213867},
            { lng: -70.8495559692383, lat: 19.5131721496582},
            { lng: -70.8489074707031, lat: 19.5129070281983},
            { lng: -70.8477172851562, lat: 19.5127601623535},
            { lng: -70.8466262817383, lat: 19.5130233764648},
            { lng: -70.8446884155273, lat: 19.514549255371},
            { lng: -70.8408966064453, lat: 19.5167312622071},
            { lng: -70.8396606445312, lat: 19.5170021057129},
            { lng: -70.8390655517578, lat: 19.5169544219971},
            { lng: -70.838493347168, lat: 19.5167808532715},
            { lng: -70.8379821777343, lat: 19.5164642333984},
            { lng: -70.8375701904297, lat: 19.5159912109376},
            { lng: -70.8373184204101, lat: 19.5154628753662},
            { lng: -70.8370895385742, lat: 19.5143299102784},
            { lng: -70.836929321289, lat: 19.5125293731689},
            { lng: -70.836669921875, lat: 19.5113468170165},
            { lng: -70.8364105224609, lat: 19.5107898712158},
            { lng: -70.8360290527344, lat: 19.5102806091309},
            { lng: -70.8355178833007, lat: 19.5098838806152},
            { lng: -70.8349380493163, lat: 19.5095996856691},
            { lng: -70.8336334228516, lat: 19.5092697143555},
            { lng: -70.827751159668, lat: 19.5088958740235},
            { lng: -70.8262939453125, lat: 19.5086116790771},
            { lng: -70.82559967041, lat: 19.5083694458008},
            { lng: -70.8249130249023, lat: 19.508026123047},
            { lng: -70.8237075805664, lat: 19.5071506500244},
            { lng: -70.8227233886718, lat: 19.5061340332032},
            { lng: -70.8216705322265, lat: 19.5047779083253},
            { lng: -70.8208007812499, lat: 19.5040359497071},
            { lng: -70.8167495727539, lat: 19.5018939971924},
            { lng: -70.8139495849609, lat: 19.5030422210694},
            { lng: -70.8106384277344, lat: 19.5040645599365},
            { lng: -70.8077850341797, lat: 19.5053100585938},
            { lng: -70.8065185546874, lat: 19.5055961608887},
            { lng: -70.8058395385742, lat: 19.5056285858155},
            { lng: -70.8051605224609, lat: 19.5055847167968},
            { lng: -70.8038940429688, lat: 19.5052757263185},
            { lng: -70.8010787963867, lat: 19.5040073394776},
            { lng: -70.7973632812499, lat: 19.5029449462891},
            { lng: -70.7963409423828, lat: 19.5025043487549},
            { lng: -70.7951507568359, lat: 19.5016822814941},
            { lng: -70.7941894531249, lat: 19.5013122558594},
            { lng: -70.7936477661132, lat: 19.5012531280518},
            { lng: -70.7925109863281, lat: 19.5013771057129},
            { lng: -70.7899932861328, lat: 19.5024795532228},
            { lng: -70.7888412475586, lat: 19.5027980804444},
            { lng: -70.7875747680664, lat: 19.5027923583985},
            { lng: -70.7869491577148, lat: 19.5026359558105},
            { lng: -70.7863998413085, lat: 19.5023822784423},
            { lng: -70.7855148315429, lat: 19.5016517639161},
            { lng: -70.7849655151367, lat: 19.5007019042969},
            { lng: -70.7848663330078, lat: 19.5001697540284},
            { lng: -70.785041809082, lat: 19.499174118042},
            { lng: -70.7859573364258, lat: 19.497350692749},
            { lng: -70.7862930297851, lat: 19.4962348937989},
            { lng: -70.7864151000977, lat: 19.4950637817384},
            { lng: -70.7863769531249, lat: 19.4944801330566},
            { lng: -70.7860107421874, lat: 19.493356704712},
            { lng: -70.7856140136718, lat: 19.4928531646728},
            { lng: -70.7850952148438, lat: 19.4924716949462},
            { lng: -70.7845153808594, lat: 19.4922313690186},
            { lng: -70.7832794189453, lat: 19.492057800293},
            { lng: -70.7820205688477, lat: 19.4921703338624},
            { lng: -70.7808074951172, lat: 19.4925136566163},
            { lng: -70.7788391113281, lat: 19.4935626983644},
            { lng: -70.7778472900391, lat: 19.4939670562745},
            { lng: -70.7766876220703, lat: 19.4940395355226},
            { lng: -70.7761154174805, lat: 19.4938888549806},
            { lng: -70.7755813598633, lat: 19.4935836791992},
            { lng: -70.7751464843749, lat: 19.4931144714355},
            { lng: -70.7748718261719, lat: 19.4925708770753},
            { lng: -70.7746200561523, lat: 19.4913654327393},
            { lng: -70.7746582031249, lat: 19.4858360290527},
            { lng: -70.7744598388671, lat: 19.4844722747803},
            { lng: -70.7742385864258, lat: 19.4838180541993},
            { lng: -70.7739486694336, lat: 19.4832801818848},
            { lng: -70.7731704711914, lat: 19.4823799133302},
            { lng: -70.7721328735352, lat: 19.4817771911622},
            { lng: -70.7715148925781, lat: 19.4816455841064},
            { lng: -70.7708969116211, lat: 19.4816646575929},
            { lng: -70.7698211669922, lat: 19.4820041656494},
            { lng: -70.767951965332, lat: 19.4830780029296},
            { lng: -70.7670288085937, lat: 19.4837303161622},
            { lng: -70.7663269042969, lat: 19.4845924377442},
            { lng: -70.7655944824218, lat: 19.4865741729736},
            { lng: -70.7651214599609, lat: 19.48752784729},
            { lng: -70.7647476196288, lat: 19.4879512786866},
            { lng: -70.7642440795898, lat: 19.4883136749268},
            { lng: -70.7636566162109, lat: 19.4885730743409},
            { lng: -70.762336730957, lat: 19.4888706207275},
            { lng: -70.7563400268554, lat: 19.4891147613526},
            { lng: -70.7540969848633, lat: 19.4894962310792},
            { lng: -70.7528762817383, lat: 19.4899692535402},
            { lng: -70.7495498657227, lat: 19.491647720337},
            { lng: -70.7485351562499, lat: 19.4923439025879},
            { lng: -70.7477798461913, lat: 19.4932727813721},
            { lng: -70.7464599609375, lat: 19.4956378936768},
            { lng: -70.7461547851561, lat: 19.4966678619384},
            { lng: -70.7461624145508, lat: 19.4972343444825},
            { lng: -70.7462997436523, lat: 19.4977931976319},
            { lng: -70.7468948364257, lat: 19.4987468719483},
            { lng: -70.7477569580078, lat: 19.4995059967042},
            { lng: -70.7488174438476, lat: 19.5000896453858},
            { lng: -70.751220703125, lat: 19.5011215209962},
            { lng: -70.7524261474609, lat: 19.5018825531007},
            { lng: -70.7541122436523, lat: 19.503246307373},
            { lng: -70.7555694580078, lat: 19.5048255920411},
            { lng: -70.7562866210938, lat: 19.5060367584229},
            { lng: -70.7565155029296, lat: 19.506675720215},
            { lng: -70.756721496582, lat: 19.5079631805421},
            { lng: -70.7566680908203, lat: 19.5092124938965},
            { lng: -70.7565460205078, lat: 19.5098056793214},
            { lng: -70.7560882568359, lat: 19.5108737945557},
            { lng: -70.7543563842772, lat: 19.5128154754639},
            { lng: -70.7531585693359, lat: 19.5148124694825},
            { lng: -70.7502441406249, lat: 19.5192127227783},
            { lng: -70.7471084594725, lat: 19.5219898223878},
            { lng: -70.7460403442382, lat: 19.5224800109863},
            { lng: -70.7422790527344, lat: 19.5234107971191},
            { lng: -70.7393341064453, lat: 19.5246200561525},
            { lng: -70.7379837036133, lat: 19.5250034332276},
            { lng: -70.736457824707, lat: 19.5252132415771},
            { lng: -70.7326278686523, lat: 19.5254726409913},
            { lng: -70.7311401367188, lat: 19.5257434844971},
            { lng: -70.7304229736327, lat: 19.5259914398193},
            { lng: -70.7292938232422, lat: 19.5266399383545},
            { lng: -70.7283554077148, lat: 19.5275077819825},
            { lng: -70.7279663085938, lat: 19.5280113220215},
            { lng: -70.7273635864257, lat: 19.5292396545411},
            { lng: -70.7270584106445, lat: 19.5306491851807},
            { lng: -70.7269287109375, lat: 19.5328464508058},
            { lng: -70.7270584106445, lat: 19.5419826507568},
            { lng: -70.7269592285156, lat: 19.5518836975098},
            { lng: -70.7271194458008, lat: 19.5540885925294},
            { lng: -70.7274475097656, lat: 19.5555057525635},
            { lng: -70.7277297973632, lat: 19.5561809539795},
            { lng: -70.7284393310547, lat: 19.5572452545167},
            { lng: -70.7298583984375, lat: 19.5585155487062},
            { lng: -70.7310028076172, lat: 19.5591354370118},
            { lng: -70.7339477539061, lat: 19.5604152679444},
            { lng: -70.7371139526367, lat: 19.5621871948243},
            { lng: -70.7380371093749, lat: 19.5629558563232},
            { lng: -70.738410949707, lat: 19.5635108947754},
            { lng: -70.7386703491211, lat: 19.5641231536865},
            { lng: -70.7389602661133, lat: 19.5654602050782},
            { lng: -70.7390747070312, lat: 19.5676231384278},
            { lng: -70.7389907836913, lat: 19.5706424713136},
            { lng: -70.7374420166015, lat: 19.571876525879},
            { lng: -70.7363586425781, lat: 19.5726108551025},
            { lng: -70.7351608276367, lat: 19.5732116699219},
            { lng: -70.7332763671874, lat: 19.5739669799805},
            { lng: -70.7304153442382, lat: 19.5754051208497},
            { lng: -70.729148864746, lat: 19.5758361816406},
            { lng: -70.7257232666015, lat: 19.5764389038087},
            { lng: -70.724380493164, lat: 19.5767822265625},
            { lng: -70.7231979370117, lat: 19.5772914886475},
            { lng: -70.7209167480469, lat: 19.5784568786622},
            { lng: -70.7190246582031, lat: 19.5792064666748},
            { lng: -70.7178344726561, lat: 19.5798034667969},
            { lng: -70.7167434692383, lat: 19.5805301666261},
            { lng: -70.7130737304688, lat: 19.5833282470704},
            { lng: -70.7119598388672, lat: 19.5839805603028},
            { lng: -70.7094650268555, lat: 19.5850467681885},
            { lng: -70.7078094482421, lat: 19.5860939025879},
            { lng: -70.7067794799805, lat: 19.5869255065917},
            { lng: -70.7053451538086, lat: 19.5882987976074},
            { lng: -70.7044906616211, lat: 19.5892906188965},
            { lng: -70.7037811279296, lat: 19.5903568267822},
            { lng: -70.7026824951172, lat: 19.5927467346192},
            { lng: -70.7014465332031, lat: 19.5949096679688},
            { lng: -70.7008895874023, lat: 19.5960388183594},
            { lng: -70.7004928588867, lat: 19.5973148345948},
            { lng: -70.6998138427734, lat: 19.6005191802979},
            { lng: -70.6987533569335, lat: 19.6031723022462},
            { lng: -70.6985626220703, lat: 19.6042385101319},
            { lng: -70.6986236572266, lat: 19.6047840118409},
            { lng: -70.6989898681641, lat: 19.6058254241944},
            { lng: -70.7008819580078, lat: 19.6096878051759},
            { lng: -70.702033996582, lat: 19.6112232208253},
            { lng: -70.7046508789062, lat: 19.614097595215},
            { lng: -70.7053375244139, lat: 19.6151485443116},
            { lng: -70.7055892944335, lat: 19.6157245635986},
            { lng: -70.7057495117188, lat: 19.6163654327393},
            { lng: -70.7057647705078, lat: 19.6176624298096},
            { lng: -70.7054061889648, lat: 19.6188640594482},
            { lng: -70.7038879394531, lat: 19.621452331543},
            { lng: -70.7028427124023, lat: 19.6237564086915},
            { lng: -70.7020568847656, lat: 19.6252708435058},
            { lng: -70.7016830444335, lat: 19.6262893676759},
            { lng: -70.7016143798828, lat: 19.626823425293},
            { lng: -70.70166015625, lat: 19.6273574829102},
            { lng: -70.7019882202148, lat: 19.6283798217775},
            { lng: -70.7026443481445, lat: 19.6299495697021},
            { lng: -70.7029571533202, lat: 19.631196975708},
            { lng: -70.703140258789, lat: 19.6325302124024},
            { lng: -70.7033157348632, lat: 19.6353015899659},
            { lng: -70.7022476196289, lat: 19.6357116699219},
            { lng: -70.7012939453125, lat: 19.6362781524658},
            { lng: -70.7009124755859, lat: 19.6366596221923},
            { lng: -70.6999435424805, lat: 19.6380252838135},
            { lng: -70.6991882324219, lat: 19.6389083862304},
            { lng: -70.6982650756835, lat: 19.6397113800048},
            { lng: -70.6971588134766, lat: 19.6403541564941},
            { lng: -70.6958236694336, lat: 19.640745162964},
            { lng: -70.6944274902344, lat: 19.640869140625},
            { lng: -70.6930084228515, lat: 19.6407623291017},
            { lng: -70.6916275024414, lat: 19.6403961181642},
            { lng: -70.6909561157227, lat: 19.6400871276857},
            { lng: -70.6897354125977, lat: 19.6392993927003},
            { lng: -70.6880493164062, lat: 19.637882232666},
            { lng: -70.6837844848632, lat: 19.6337223052979},
            { lng: -70.681297302246, lat: 19.6310234069824},
            { lng: -70.6800918579102, lat: 19.6292781829835},
            { lng: -70.6790084838867, lat: 19.6268711090088},
            { lng: -70.6774749755859, lat: 19.6241550445557},
            { lng: -70.6760940551758, lat: 19.6212978363038},
            { lng: -70.6757354736328, lat: 19.6207847595215},
            { lng: -70.6748657226562, lat: 19.6198616027833},
            { lng: -70.673828125, lat: 19.6191082000733},
            { lng: -70.6732406616211, lat: 19.6188125610352},
            { lng: -70.6719207763672, lat: 19.618413925171},
            { lng: -70.6670379638672, lat: 19.6178989410401},
            { lng: -70.6656646728514, lat: 19.6176204681397},
            { lng: -70.6650085449219, lat: 19.6174011230469},
            { lng: -70.6643524169922, lat: 19.6171054840088},
            { lng: -70.6631393432617, lat: 19.6163635253907},
            { lng: -70.6597061157227, lat: 19.6138191223144},
            { lng: -70.6584320068359, lat: 19.6131553649903},
            { lng: -70.6577224731445, lat: 19.6129150390626},
            { lng: -70.6554794311523, lat: 19.6125316619872},
            { lng: -70.6500701904297, lat: 19.6122627258302},
            { lng: -70.6478118896484, lat: 19.611951828003},
            { lng: -70.6464767456054, lat: 19.611536026001},
            { lng: -70.6441345214844, lat: 19.6104946136475},
            { lng: -70.6428680419921, lat: 19.6100921630861},
            { lng: -70.6415100097656, lat: 19.6098499298096},
            { lng: -70.6381301879883, lat: 19.6094627380371},
            { lng: -70.6368789672852, lat: 19.6091747283936},
            { lng: -70.6357650756836, lat: 19.6086330413819},
            { lng: -70.6353149414062, lat: 19.6082401275634},
            { lng: -70.6334457397461, lat: 19.6058254241944},
            { lng: -70.6307144165039, lat: 19.602617263794},
            { lng: -70.6299362182617, lat: 19.601432800293},
            { lng: -70.6296310424805, lat: 19.6007938385011},
            { lng: -70.6292266845703, lat: 19.5994091033936},
            { lng: -70.6290435791014, lat: 19.5979785919189},
            { lng: -70.6289672851562, lat: 19.5906658172607},
            { lng: -70.6288375854492, lat: 19.589231491089},
            { lng: -70.6285324096679, lat: 19.5878372192383},
            { lng: -70.6282806396483, lat: 19.5871696472168},
            { lng: -70.627586364746, lat: 19.5859622955322},
            { lng: -70.624870300293, lat: 19.5827331542969},
            { lng: -70.6240615844726, lat: 19.5815887451172},
            { lng: -70.6234664916992, lat: 19.5802974700927},
            { lng: -70.6230316162109, lat: 19.5781803131104},
            { lng: -70.6228713989258, lat: 19.5759925842286},
            { lng: -70.6228637695312, lat: 19.5730667114259},
            { lng: -70.6230087280273, lat: 19.5709457397462},
            { lng: -70.6232452392578, lat: 19.5696220397949},
            { lng: -70.6237182617188, lat: 19.5684394836426},
            { lng: -70.6240692138671, lat: 19.5679397583009},
            { lng: -70.6244888305664, lat: 19.5675525665284},
            { lng: -70.626853942871, lat: 19.5659694671632},
            { lng: -70.6277160644531, lat: 19.5651264190675},
            { lng: -70.6284103393555, lat: 19.5641059875488},
            { lng: -70.6286697387695, lat: 19.5634918212891},
            { lng: -70.6289443969726, lat: 19.5622005462646},
            { lng: -70.6289596557617, lat: 19.5608787536622},
            { lng: -70.6287002563477, lat: 19.5595703125},
            { lng: -70.6281127929688, lat: 19.5583934783936},
            { lng: -70.6277236938477, lat: 19.5578918457031},
            { lng: -70.6268005371094, lat: 19.5570297241212},
            { lng: -70.6257553100586, lat: 19.5563488006592},
            { lng: -70.6239852905273, lat: 19.5555744171144},
            { lng: -70.6228790283203, lat: 19.5549697875978},
            { lng: -70.6219100952148, lat: 19.5541763305665},
            { lng: -70.6211013793945, lat: 19.5532093048096},
            { lng: -70.6205215454101, lat: 19.5519962310791},
            { lng: -70.6202239990234, lat: 19.5506095886231},
            { lng: -70.6199417114258, lat: 19.5449466705322},
            { lng: -70.6196746826171, lat: 19.5436534881593},
            { lng: -70.6194381713867, lat: 19.5430603027344},
            { lng: -70.6190948486328, lat: 19.5425243377687},
            { lng: -70.6186904907227, lat: 19.5421028137206},
            { lng: -70.616714477539, lat: 19.5407314300538},
            { lng: -70.6151275634766, lat: 19.5394096374513},
            { lng: -70.6136779785156, lat: 19.5378704071045},
            { lng: -70.6127471923828, lat: 19.5365543365479},
            { lng: -70.6099624633788, lat: 19.5319633483888},
            { lng: -70.6095657348632, lat: 19.530912399292},
            { lng: -70.6094818115234, lat: 19.5303611755372},
            { lng: -70.609619140625, lat: 19.5292778015138},
            { lng: -70.6105499267578, lat: 19.526611328125},
            { lng: -70.6112747192382, lat: 19.5234546661378},
            { lng: -70.6117401123047, lat: 19.5221881866456},
            { lng: -70.6124877929688, lat: 19.520938873291},
            { lng: -70.6134262084961, lat: 19.5197887420655},
            { lng: -70.6150131225585, lat: 19.5181789398193},
            { lng: -70.616714477539, lat: 19.516664505005},
            { lng: -70.6184921264648, lat: 19.5152778625488},
            { lng: -70.6197280883789, lat: 19.5144805908204},
            { lng: -70.6221694946288, lat: 19.5133476257324},
            { lng: -70.6232833862305, lat: 19.5127067565919},
            { lng: -70.6246643066406, lat: 19.511423110962},
            { lng: -70.6253433227539, lat: 19.5103607177734},
            { lng: -70.6257781982421, lat: 19.5090141296387},
            { lng: -70.6259613037109, lat: 19.5076122283937},
            { lng: -70.6261901855469, lat: 19.5026950836182},
            { lng: -70.6264724731444, lat: 19.5014171600342},
            { lng: -70.6267166137695, lat: 19.5008316040039},
            { lng: -70.6274719238281, lat: 19.499891281128},
            { lng: -70.6305618286132, lat: 19.4977817535402},
            { lng: -70.6326522827148, lat: 19.4959106445312},
            { lng: -70.6339569091797, lat: 19.4942512512207},
            { lng: -70.6345520019531, lat: 19.4929389953613},
            { lng: -70.6348724365234, lat: 19.4915027618409},
            { lng: -70.6350479125976, lat: 19.4892787933351},
            { lng: -70.6348876953125, lat: 19.4732685089111},
            { lng: -70.6350631713867, lat: 19.4687461853028},
            { lng: -70.6352844238281, lat: 19.4672870635986},
            { lng: -70.6356887817382, lat: 19.4658966064454},
            { lng: -70.6371383666992, lat: 19.4631538391113},
            { lng: -70.6376495361328, lat: 19.4618988037109},
            { lng: -70.638069152832, lat: 19.4597835540771},
            { lng: -70.6381225585938, lat: 19.4577388763428},
            { lng: -70.6378631591797, lat: 19.4564895629883},
            { lng: -70.637565612793, lat: 19.4559154510499},
            { lng: -70.6371002197266, lat: 19.4554080963136},
            { lng: -70.6365432739257, lat: 19.4550876617431},
            { lng: -70.6359481811523, lat: 19.4549293518068},
            { lng: -70.6353530883789, lat: 19.4549007415772},
            { lng: -70.6342315673828, lat: 19.4551429748535},
            { lng: -70.6322174072266, lat: 19.4561290740966},
            { lng: -70.630989074707, lat: 19.456579208374},
            { lng: -70.6295318603516, lat: 19.4568729400635},
            { lng: -70.6279983520507, lat: 19.457036972046},
            { lng: -70.6248245239257, lat: 19.4571571350098},
            { lng: -70.6208190917968, lat: 19.4571514129639},
            { lng: -70.6120147705078, lat: 19.4570350646972},
            { lng: -70.6068038940429, lat: 19.4568271636963},
            { lng: -70.6095581054687, lat: 19.4527950286866},
            { lng: -70.6104965209961, lat: 19.4511394500734},
            { lng: -70.6109161376953, lat: 19.449878692627},
            { lng: -70.6118698120117, lat: 19.4460391998292},
            { lng: -70.6131973266601, lat: 19.4432487487794},
            { lng: -70.6136322021484, lat: 19.4420509338379},
            { lng: -70.6143264770507, lat: 19.4388198852538},
            { lng: -70.6147155761718, lat: 19.4375534057617},
            { lng: -70.6155624389648, lat: 19.4359035491944},
            { lng: -70.6174468994141, lat: 19.4328632354737},
            { lng: -70.6178512573242, lat: 19.4324131011963},
            { lng: -70.6188354492187, lat: 19.4316997528077},
            { lng: -70.6221160888672, lat: 19.4299697875977},
            { lng: -70.6233291625977, lat: 19.4294967651367},
            { lng: -70.6255569458008, lat: 19.4291286468506},
            { lng: -70.6315002441406, lat: 19.4290485382081},
            { lng: -70.6328201293945, lat: 19.4288063049316},
            { lng: -70.6334381103516, lat: 19.4285507202148},
            { lng: -70.6339950561523, lat: 19.428150177002},
            { lng: -70.6343994140625, lat: 19.4276523590088},
            { lng: -70.6348419189453, lat: 19.4265117645265},
            { lng: -70.6349258422851, lat: 19.4252872467042},
            { lng: -70.6347427368163, lat: 19.4240322113038},
            { lng: -70.6345520019531, lat: 19.4234085083008},
            { lng: -70.6328811645508, lat: 19.4201889038086},
            { lng: -70.6318740844726, lat: 19.4172897338867},
            { lng: -70.6313323974608, lat: 19.4162616729737},
            { lng: -70.630500793457, lat: 19.4154815673829},
            { lng: -70.6274108886718, lat: 19.4142017364503},
            { lng: -70.6265411376953, lat: 19.4134883880616},
            { lng: -70.625877380371, lat: 19.4125442504883},
            { lng: -70.6240463256836, lat: 19.409460067749},
            { lng: -70.622688293457, lat: 19.4055137634278},
            { lng: -70.62198638916, lat: 19.4045715332032},
            { lng: -70.6214141845702, lat: 19.4041728973389},
            { lng: -70.6200714111328, lat: 19.4037094116212},
            { lng: -70.6186065673828, lat: 19.4035110473634},
            { lng: -70.6148452758789, lat: 19.4032440185547},
            { lng: -70.6170501708984, lat: 19.3991069793701},
            { lng: -70.6167526245117, lat: 19.3957862854005},
            { lng: -70.6167526245117, lat: 19.389446258545},
            { lng: -70.6212768554688, lat: 19.388843536377},
            { lng: -70.6303329467773, lat: 19.388542175293},
            { lng: -70.6336517333984, lat: 19.3870315551758},
            { lng: -70.640296936035, lat: 19.3849182128907},
            { lng: -70.6436157226562, lat: 19.3815994262695},
            { lng: -70.6436157226562, lat: 19.3755626678467},
            { lng: -70.6424102783203, lat: 19.3671092987061},
            { lng: -70.6369705200195, lat: 19.3580532073976},
            { lng: -70.6320571899414, lat: 19.3540077209474},
            { lng: -70.6320953369139, lat: 19.3528900146485},
            { lng: -70.6322631835937, lat: 19.3515357971193},
            { lng: -70.6325988769531, lat: 19.3502311706542},
            { lng: -70.6331253051757, lat: 19.3490867614746},
            { lng: -70.6343231201172, lat: 19.3469123840333},
            { lng: -70.635383605957, lat: 19.3445281982422},
            { lng: -70.638313293457, lat: 19.3399448394775},
            { lng: -70.6391677856445, lat: 19.3391227722169},
            { lng: -70.6412887573242, lat: 19.3378200531007},
            { lng: -70.6452178955078, lat: 19.3348102569581},
            { lng: -70.6470413208007, lat: 19.3336772918701},
            { lng: -70.649070739746, lat: 19.3328533172608},
            { lng: -70.6527404785156, lat: 19.3394584655762},
            { lng: -70.6531143188477, lat: 19.3431930541993},
            { lng: -70.6572189331055, lat: 19.3499164581299},
            { lng: -70.663200378418, lat: 19.3618679046632},
            { lng: -70.6691741943359, lat: 19.3614940643312},
            { lng: -70.677391052246, lat: 19.3614940643312},
            { lng: -70.6818771362304, lat: 19.3577594757081},
            { lng: -70.6841125488281, lat: 19.3551445007325},
            { lng: -70.6900939941406, lat: 19.3517837524415},
            { lng: -70.6975631713867, lat: 19.3506622314454},
            { lng: -70.7061538696289, lat: 19.353651046753},
            { lng: -70.706901550293, lat: 19.3585052490236},
            { lng: -70.7080154418945, lat: 19.3629875183107},
            { lng: -70.7154922485352, lat: 19.3670978546144},
            { lng: -70.7229614257812, lat: 19.3670978546144},
            { lng: -70.7255706787109, lat: 19.3749408721925},
            { lng: -70.7311782836913, lat: 19.3745670318605},
            { lng: -70.7360305786132, lat: 19.3697109222413},
            { lng: -70.7405166625976, lat: 19.3697109222413},
            { lng: -70.7487335205077, lat: 19.3734455108642},
            { lng: -70.7502593994139, lat: 19.374402999878},
            { lng: -70.7499008178711, lat: 19.3747234344482},
            { lng: -70.7493133544922, lat: 19.3756618499756},
            { lng: -70.7491683959961, lat: 19.3762073516846},
            { lng: -70.7491683959961, lat: 19.376766204834},
            { lng: -70.7494583129882, lat: 19.3778038024903},
            { lng: -70.7509689331055, lat: 19.3809700012207},
            { lng: -70.7516555786132, lat: 19.3820514678955},
            { lng: -70.7524871826172, lat: 19.3829898834228},
            { lng: -70.7534255981445, lat: 19.3838043212891},
            { lng: -70.7558670043945, lat: 19.3854827880859},
            { lng: -70.7576522827148, lat: 19.3877544403077},
            { lng: -70.7585372924804, lat: 19.3885974884034},
            { lng: -70.7595825195312, lat: 19.3893127441407},
            { lng: -70.7601623535156, lat: 19.3895988464356},
            { lng: -70.7614746093749, lat: 19.3899974822998},
            { lng: -70.7655410766602, lat: 19.3905067443848},
            { lng: -70.7673492431641, lat: 19.3909492492676},
            { lng: -70.7682952880859, lat: 19.3915138244629},
            { lng: -70.7694702148438, lat: 19.3925323486328},
            { lng: -70.7699356079102, lat: 19.3928279876709},
            { lng: -70.7735443115234, lat: 19.3945236206056},
            { lng: -70.7746429443359, lat: 19.394739151001},
            { lng: -70.7752075195312, lat: 19.3947067260743},
            { lng: -70.7786178588867, lat: 19.3936557769777},
            { lng: -70.7800903320312, lat: 19.3934192657472},
            { lng: -70.7816390991211, lat: 19.3932857513428},
            { lng: -70.7888717651367, lat: 19.3931179046631},
            { lng: -70.7935943603516, lat: 19.3931884765626},
            { lng: -70.7957382202148, lat: 19.3934707641602},
            { lng: -70.7969665527343, lat: 19.393934249878},
            { lng: -70.7974700927734, lat: 19.3943042755127},
            { lng: -70.7978286743163, lat: 19.3947257995605},
            { lng: -70.7984466552734, lat: 19.396125793457} 
    
    ];

    var SantiagoPolygon = new google.maps.Polygon({
    paths: santiago,
    strokeColor: '#FF0000',
    strokeOpacity: 0.8,
    strokeWeight: 3,
    fillColor: '#FF0000',
    fillOpacity: 0.35
        });

    SantiagoPolygon.setMap(map);



</script>


