<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1 class="h4">
          Verificando Email
        </h1>
      </div>
      
      <div class="card-body">
        <form action="/users/confirm_email" method="POST" autocomplete="off">
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" autofocus>
          </div>
         
          <button class="btn btn-primary btn-block">
            Enviar link al email
          </button>
        </form>

    
  
      </div>
    </div>
  </div>
</div>
