<html>
    <head>
        <title>Chat con socket.io y node.js</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="/socket.io/socket.io.js"></script>
    </head>

<body>

    <style>
        #chat{
            height: 500px;
        }
          #message-container {
      width: 80%;
      max-width: 1200px;
      height: 500px;
      box-sizing: border-box;
      
    }

    #message-container div {
      background-color: #CCC;
      padding: 5px;
    }

    #message-container div:nth-child(2n) {
      background-color: #FFF;
    }

    #send-container {
      position: fixed;
      padding-bottom: 30px;
      bottom: 0;
      background-color: white;
      max-width: 1200px;
      width: 80%;
      display: flex;
    }

    #message-input {
      flex-grow: 1;
    }
    </style>

    <body>
        <div id="message-container"></div>
            <form id="send-message">
                <input size="35" id="message"></input>
                <input type="submit"></input>
            </form>
        




    <div id="room-container">
        <script>
            Object.keys.(rooms).
        </script>
    </div>

</body>

</html>